body{
	  margin-top: 6px;
	  background:yellow;
}
.bar {
	width: 100%;
	height:30px;
	
	margin: 0;  
	padding: 0;
}

.bar li{
	list-style: none;
	height: 30px;
	
}
.leftbar{
	float: left;
	margin: 0;  
	padding: 0;
}
.leftbar li{
	float: left;

}

.rightbar{
	float: right;
	margin: 0;  
	padding: 0;
}
.rightbar li{
	float: left;
	margin-right:10px;
}
.bomb{
	
}


.SNS li{


}
a{
	color: #333;
	text-decoration: none; /*アンダーラインをけす*/
   
    
}
}
 #wrapper{
            width: 600px;
            height: 850px;
            margin: 0 auto;
}

.header{
	background: pink;
	width: 100%;
	height: 100px;
}

.main{

	
}
.person{
	width: 344px;
	height: 340px;
	float: left;
	background-color: #FF99FF;
}

.name{
margin-top: 20px;
}

div.name{
	margin-bottom: 5px;
    font-size: 11pt;
    line-height: 1.2em;  /*文字の上下の距離*/
    font-weight: bold;	 /*文字の太さ*/
}

.photoandlink{
	display: flex;
	margin-left: 10px;
}
.links{
	margin-left: 10px;
}

.SNSul{
	margin-left: -20px;	
	margin-top: 0px;
	list-style: none;
}

.under{
	width: 320px;
	
}
.under div{
	font-size: 10pt;
}




.picture-rion{    
	 		/*clip: rect( 右上Y, 右上X, 左下Y, 左下X );*/
	zoom:130%;
	position: relative;
	right: 78px;
}

.picture-haru{
	height: 195px;
	width: 259px;

}
.picture-ichika{
	position: relative;
	zoom:61%;
	right: 30px;
}
.picture-sakura{
	zoom:85%;
	position: relative;
	right: 10px;
}
.picture-mia{
	zoom:67%;
	position: relative;
	right: 10px;
	bottom: 10px;
}
.photo{

	height: 195px;
	width: 259px;
	overflow: hidden;
	background: red;
}